body {
  margin: 20px;
  padding:5px;
  background: linear-gradient(#aadfad,#f2ea93);
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a{
  text-decoration: none !important;
}


/*#header-perfil{
 display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 25px 40px;
  margin: 30px auto;
  width: 100%;

}*/

#foto-de-perfil{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#saludo {
  font-family: "Fugaz One", cursive;
  color: #0300A0;
}

#saludo h1:first-child {
  color: #0300A0; /* azul fuerte */
}

#saludo h1:last-child {
  color: #e52c6d; /* fucsia */
}


#saludo, #div-genero, #div-fecha, #div-pais, #div-nacionalidad{
  display: flex;
  align-items: center;
  gap: 8px;
}

#form-perfil, #foto-de-perfil{
  display: flex;
  align-items: center;
  gap: 8px;
}